ipykernel
python-dotenv
streamlit
streamlit_extras
ollama
langgraph
langsmith
langchain
langchain_ollama
langchain_groq
langchain_community
langchain_experimental
langchain-qdrant
qdrant-client
duckduckgo-search
